
<div class="row">
    <div class="col-md-4" style="margin-left: 11%; margin-top: 30px;">
        <div class="active-cyan-3 active-cyan-4 mb-4">
            <input (blur)="findCharacter($event.target.value)" class="form-control" type="text" placeholder="Pesquisar" aria-label="Search">
        </div>          
    </div>
</div>
<div class="row" style="margin-left: 10%; margin-right: 10%;">
    <div (click)="showDetail(char)" class="col-md-4"  *ngFor="let char of allCharacters | async">
        <img src="{{char.thumbnail.path}}.{{char.thumbnail.extension}}" alt="{{char.name}}" class="img-thumbnail">
        <h3>{{char.name}}</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="margin-left: 11%;">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
              <li  class="page-item"><a class="page-link" (click)="previousPage()">Previous</a></li>

              <li style="margin-left: 20px" class="page-item"><a class="page-link" (click)="nextPage()">Next</a></li>
            </ul>
          </nav>          
    </div>
</div>
